
<h1>Endpoints api</h1>

<p>Api de Products:
  <a href="http://localhost:{{port}}/api/products">products</a>
</p>
<p>Api de Carts:
  <a href="http://localhost:{{port}}/api/carts">carts</a>
</p>

<p>Agregar productos en tiempo real
  <a href="http://localhost:{{port}}/addproducts">Agregar productos</a>
</p>
<h2>Productos Agregados</h2>
{{#each products}}

<section class="card" style="width: 18rem;">
  <p>Titulo:{{this.title}}</p>
  <p>Descripción:{{this.description}}</p>
  <p>Precio: {{this.price}}</p>

</section>
{{else}}
<p>No hay productos disponibles.</p>
{{/each}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>